/* GLOBAL ELEMENTS */

/* ============BODY STYLES================================================================================================ */
body {
	font-family: 'ComicSans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
	min-width: 320px;
	color: #cc9933;
	/* background-color: #24252b; */
	margin: 0;
	padding: 0;
	background: url('../../../../cssMemSlider/cssMemSlider/assets/gifs/space.gif');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
img {
	max-width: 100%;
}

/* ============BODY STYLES END================================================================================================ */
