/* ============MAIN STYLES================================================================================================ */
.main {
	
}
.slider {	
	width: 1050px;
	height: 770px;
	overflow: hidden;
	background-color:#1d1d1d;
	border-radius: 5%;
	padding: 1rem;
	transition: all 0.6s ease;
	box-shadow: 0 0 40px 1px rgb(0, 0, 0);
}
.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navigation {
	position: absolute;
	bottom: 3%;
	right: 1%;
	display: flex;
	background-color: inherit;
}

.navigation .navigation__bar {
  height: 4rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: inherit;
}
.navigation__bar > .navigation__bar--span {
  background-color: #cc9933;
  border: 0.1rem solid #000000;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  transition: background-color 0.6s, border 0.6s;
}
.navigation__bar:hover > .navigation__bar--span {
	background-color: #ffd900;
	transform: scale(1.1);
  border: 0.1rem solid #fff;
}
.navigation__bar:active > .navigation__bar--span {
box-shadow: 0 0 1rem 1rem #fff;
}


input[name="rad"] {
	position: absolute; 
	visibility: hidden;
}

.slides {
	width: 1100%;
	height: 100%;
	display: flex;
}
.slide {
	width: 10%;
	height: 100%;
	transition: all 0.6s ease;
}
.slide:first-child {
	margin-left: 0;
}
.slide__img {
	width: 91%;
	height: 90%;
	border-radius: 5%;
	transition: all 0.6s ease;
	object-fit: fill;
	border: 0.2rem solid #cc9933;
}
.slide__desk {
	margin-top: 5px;
	font-size: 26px;
	max-width: 500px;
	transition: all 0.6s ease;
}

#rad1:checked ~ .navigation #nav01 > .navigation__bar--span,
#rad2:checked ~ .navigation #nav02 > .navigation__bar--span,
#rad3:checked ~ .navigation #nav03 > .navigation__bar--span,
#rad4:checked ~ .navigation #nav04 > .navigation__bar--span,
#rad5:checked ~ .navigation #nav05 > .navigation__bar--span,
#rad6:checked ~ .navigation #nav06 > .navigation__bar--span,
#rad7:checked ~ .navigation #nav07 > .navigation__bar--span,
#rad8:checked ~ .navigation #nav08 > .navigation__bar--span,
#rad9:checked ~ .navigation #nav09 > .navigation__bar--span,
#rad10:checked ~ .navigation #nav10 > .navigation__bar--span {
  background-color: #000000;
	border: 0.1rem solid #cc9933;
}


#rad1:checked ~ .s1 {
	margin-left: 0;
}
#rad2:checked ~ .s1 {
	margin-left: -10%;
}
#rad3:checked ~ .s1 {
	margin-left: -20%;
}
#rad4:checked ~ .s1 {
	margin-left: -30%;
}
#rad5:checked ~ .s1 {
	margin-left: -40%;
}
#rad6:checked ~ .s1 {
	margin-left: -50%;
}
#rad7:checked ~ .s1 {
	margin-left: -60%;
}
#rad8:checked ~ .s1 {
	margin-left: -70%;
}
#rad9:checked ~ .s1 {
	margin-left: -80%;
}
#rad10:checked ~ .s1 {
	margin-left: -90%;
}




/* ============MAIN STYLES END================================================================================================