/* lg <= Extra large (xl) */
@media (max-width: 1200px) {
	.slider {
		max-width: 900px;
		height: 700px;
	}
	.navigation {
		bottom: 6%;
		right: 1.5%;
	}
	.navigation__bar {
		margin: 9px;
	}
	.slide__desk {
		margin-top: 10px;
		font-size: 22px;
		max-width: 600px;
	}
}

/* md <= Large (lg) */
@media (max-width: 992px) {
	.slider {
		max-width: 700px;
		height: 900px;
	}
	.navigation {
		bottom: 6%;
		right: 1.5%;
	}
	.navigation__bar {
		height: 35px;
		width: 50px;
		margin: 9px;
	}
	.slide__desk {
		text-align: justify;
		margin-top: 20px;
		font-size: 30px;
		max-width: 668px;
	}
}

/* sm <= Medium (md) */
@media (max-width: 768px) {
	.slider {
		max-width: 500px;
		height: 900px;
	}
	.slide {
		margin-top: 10px;
	}
	.slide__img {
		height: 80%;
	}
	.navigation {
		bottom: 6%;
		right: 2%;
	}
	.navigation__bar {
		height: 85px;
		width: 36px;
		margin: 6px;
	}
	.slide__desk {
		text-align: justify;
		margin-top: 20px;
		font-size: 30px;
		max-width: 468px;
	}
}

/* xs <= Small (sm) */
@media (max-width: 576px) {
	.slider {
		/* margin-top: 30px; */
		max-width: 320px;
		height: 600px;
	}

	.slide {
		margin-top: 5px;
	}
	.slide__img {
		height: 50%;
	}

	.navigation__bar {
		height: 85px;
		width: 21px;
		margin: 5px;
	}
	.slide__desk {
		text-align: justify;
		margin-top: 20px;
		font-size: 22px;
		max-width: 280px;
	}
}
