/* lg <= Extra large (xl) */
@media (max-width: 1200px) {
	.slider {
		max-width: 800px;
		height: 900px;
	}
	.slide__img {
		height: 80%;
	}
	.navigation {
		bottom: 4%;
		justify-content: center;
		left: 0;
		right: 0;
	}
	.navigation__bar {
		height: 30px;
		width: 30px;
	}
	.navigation__bar {
		margin: 12px;
	}
	.slide__desk {
		margin-top: 10px;
		font-size: 24px;
		max-width: 700px;
	}
}

/* md <= Large (lg) */
@media (max-width: 992px) {
	.slider {
		max-width: 700px;
		height: 700px;
	}

	.navigation__bar {
		margin: 13px;
	}
	.slide__img {
		height: 80%;
	}
	.slide__desk {
		font-size: 22px;
		max-width: 668px;
	}
}

/* sm <= Medium (md) */
@media (max-width: 768px) {
	.slider {
		max-width: 600px;
		height: 700px;
	}
	.slide {
		margin-top: 10px;
	}
	.slide__img {
		height: 70%;
	}
	.navigation__bar {
		margin: 12px;
	}
	.slide__desk {
		text-align: justify;
		margin-top: 20px;
		font-size: 28px;
		max-width: 568px;
	}
}

/* sm <= Medium (md) */
@media (max-width: 650px) {
	.slider {
		max-width: 550px;
		height: 700px;
	}
	.slide {
		margin-top: 30px;
	}
	.slide__img {
		height: 60%;
	}
	.navigation__bar {
		margin: 12px;
	}
	.slide__desk {
		text-align: justify;
		margin-top: 30px;
		font-size: 27px;
		max-width: 518px;
	}
}

/* s <= Small (sm) */
@media (max-width: 576px) {
	.slider {
		max-width: 450px;
		height: 700px;
	}
	.slide {
		margin-top: 30px;
	}
	.slide__img {
		height: 50%;
	}
	.navigation {
		bottom: 5%;
	}
	.navigation__bar {
		margin: 7px;
	}
	.slide__desk {
		text-align: justify;
		margin-top: 30px;
		font-size: 22px;
		max-width: 418px;
	}
}

/* xs <= Extra Small (sm) */
@media (max-width: 470px) {
	.slider {
		max-width: 350px;
		height: 550px;
	}
	.slide {
		margin-top: 30px;
	}
	.slide__img {
		height: 60%;
	}
	.slide__img:hover {
		transform: scale(1.1);
		border: 2px solid #cc9933;
	}
	.navigation {
		bottom: 5%;
	}
	.navigation__bar {
		height: 24px;
		width: 24px;
		margin: 5px;
	}
	.slide__desk {
		text-align: justify;
		margin-top: 30px;
		font-size: 22px;
		max-width: 318px;
	}
}

/* xxs <= Large Extra Small (sm) */
@media (max-width: 369px) {
	.slider {
		max-width: 310px;
		height: 450px;
	}

	.slide {
		margin-top: 15px;
	}
	.slide__img {
		height: 60%;
	}
	.slide__img:hover {
		transform: scale(1.1);
		border: 2px solid #cc9933;
	}
	.navigation__bar {
		height: 22px;
		width: 22px;
		margin: 4px;
	}
	.slide__desk {
		text-align: justify;
		margin-top: 20px;
		font-size: 22px;
		max-width: 280px;
	}
}
